<fieldset style="width:auto;border:1px">
  <div>
    <table border="0" align="center">
      <tr>
        <td width="40%">&nbsp;</td>
        <td rowspan="3" align="center" width="20%">
          <img src="assets/images/log.png" style="width:100px" />
        </td>
        <td width="40%">&nbsp;</td>
      </tr>
      <tr>
        <td align="right">
          <font size="2"
            >Content Provided by: JNET Project Office<br />Webmaster:
          </font>
          <font size="2">JNET Webmaster</font>
        </td>
        <td>
          <font size="2"
            >Update Schedule: As Needed<br />Last Modified: 07/16/2014</font
          >
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <font size="2"
            >All information provided is for authorized JNET users only.<br />&copy;
            1998-2014 Pennsylvania Justice Network. All rights reserved.</font
          >
        </td>
      </tr>
    </table>
  </div>
</fieldset>
