<div style="text-align:center;">
  JNET user aggrement.<br />
  <b
    >You have attempted to access a section of JNET which requires you first
    agree and siggn the displayed form before proceeding.</b
  >
  <hr style="margin-left:10%; margin-right:10%;" />
  <!--<textarea  rows="30" cols="60" readonly="true"> -->
  <div
    style="font-size:10.0pt; margin-left:25%; margin-right:10;overflow-y:auto;border:2px solid #a6a6a6;width:750px;height: 150px;padding:10px; text-align:justify;"
  >
    <p>
      This JNET User Agreement (Agreement) is entered into by and between the
      Commonwealth of Pennsylvania and you (&ldquo;User&rdquo;, also referred to
      as &ldquo;You&rdquo;) and is effective on the date this Agreement is
      electronically accepted by you. Keep a copy of this Agreement for your
      records.
    </p>
    <p>
      You understand and acknowledge that your access to the pennsylvania
      Justice Network (&ldquo;JNET&rdquo;) and the information or data
      (&ldquo;the content&rdquo;) provided by its Data Providers is contingent
      on you agreeing to and complying with the terms and conditions of this
      Agreement, which shall be sufficient consideration to enforce this
      Agreement. By electronically accepting this Agreement,the User agrees to
      conduct this transaction by electronic means and agrees to abide by the
      terms and conditions of this Agreement.
    </p>

    <p>
      The terms and conditions of this Agreement may be updated or modified from
      time to time, and a condition of and in consideration of You being
      provided continued use of JNET, You must agree to the modified or updated
      terms and conditions. Failure to agree to any modified or updated terms
      and conditions will result in the termination of your access to JNET.
    </p>

    <p>
      The content accessible through JNET derives from a variety of sources,
      each being a &ldquo;Data Provider&rdquo;. You acknowledge that JNET is
      simply an identity service provider and a gateway to access content
      provided by JNET&rsquo;s Data Providers, and that JNET does not own,
      store, compile, develop, manage or offer the content provided by
      JNET&rsquo;s Data Providers. You understand and agree that You are not
      being given a property or other right to JNET or to the content provided
      by JNET&rsquo;s Data Providers, and the Commonwealth of Pennsylvania may
      suspend, revoke or terminate Your access to JNET for any reason. In
      addition, each Data Provider may suspend, revoke or terminate Your access
      to its content for any reason.
    </p>

    <p>
      This Agreement is in addition to any Federal, Commonwealth, or local laws
      and regulations, and any policies, directives and/or orders that effect or
      govern JNET or its Data Providers. If a conflict exists, the JNET Security
      Policy and the Data Provider policies shall control Your access to JNET
      and the Data Provider&rsquo;s content. You represent that You have been
      provided access to all JNET and Data Provider&rsquo;s policies, have read
      them and agree to comply with them. All JNET and Data Provider policies
      and procedure manuals are located at
      https://www.jnet.pa.gov/policies-manuals.
    </p>

    <p>
      <b><u>By accessing and using JNET you agree to:</u></b>
    </p>

    <ol>
      <li>
        Not use any JNET resource or application or Data Provider content for
        personal or non-governmental purposes. Personal use is defined as
        querying or viewing Data Provider content that is not relevant to a
        criminal justice or official governmental purpose, including your own
        record(s).
      </li>

      <li>
        Only release PennDOT photos to the press or the public when there is an
        active arrest warrant for a subject or a when a missing person report
        has been filed.
      </li>

      <li>
        Disseminated PennDOT photos must be removed/recalled/replaced
        immediately from the newspaper, website, etc. after a warrant has been
        cancelled or cleared or the missing person has been found.
      </li>

      <li>
        Maintain the confidentiality of and safeguard all Data Provider content
        (whether in tangible or intangible form) in a manner consistent with
        JNETs and its Data Provider policies and procedures.
      </li>

      <li>
        Only disseminate Data Provider content within your own agency on a
        &ldquo;Need to Know&rdquo; or &ldquo;Right to Know&rdquo; basis for
        legitimate and official purposes consistent with this Agreement and
        JNET&rsquo;s and its Data Provider&rsquo;s policies and procedures.
        Dissemination of Data Provider content to the public or to unauthorized
        recipients is not permitted, unless otherwise specified by JNET or its
        the Data Provider&rsquo;s policies.
      </li>

      <li>
        Obtain authorization and complete all required training prior to
        accessing JNET applications.
      </li>

      <li>
        Comply with JNET&rsquo;s and the Data Provider&rsquo;s policies,
        procedures, and standards.
      </li>

      <li>Only use your own JNET user id and password.</li>

      <li>Not to disclose your JNET user id and password to anyone.</li>

      <li>
        Not to use or in any way enable anyone to use someone else&rsquo;s JNET
        user id and password.
      </li>

      <li>
        Immediately report unauthorized access or use of JNET or Data Provider
        content to the JNET Security Administrator.
      </li>

      <li>Always supervise or secure your JNET session.</li>

      <li>Use reputable anti-malware software.</li>

      <li>Turn on and use a personal firewall at all times.</li>

      <li>
        Deploy an automatic screen lock with password/PIN for all devices
        accessing JNET independent of the JNET Username/Password.
      </li>

      <li>
        Not use &ldquo;rooted&rdquo; or &ldquo;jail broken&rdquo; devices or
        systems where administrative privileges of the operating system have
        been altered.
      </li>
      <li>
        Not to host internet access or create a hotspot on a device that is
        accessing JNET.
      </li>
      <li>
        Not to access JNET via publicly accessible computers or kiosks at any
        time.
      </li>

      <li>
        Obtain pre-authorization from your agency JNET Sponsor before using
        personally owned devices (Phones, Tablets, PC&rsquo;s) to log into JNET.
      </li>

      <li>Update or patch the operating system of your device frequently.</li>

      <li>
        Not to transmit/disseminate Criminal Justice Information or PII (e.g.
        SSN&rsquo;s, DOB, SID, FBI#) via non-encrypted email (Gmail, Yahoo,
        Outlook.com, etc.) or via text messaging, even to authorized
        individuals.
      </li>

      <li>
        Use known secure electronic communications when accessing JNET &ndash;
        no public Wi-Fi connections.
      </li>
      <li>
        Notify your JNET Registrar of any name change, facility change, or job
        change.
      </li>
      <li>
        Maintain documentation as required in the event of expungement orders
        (e.g. dissemination logs).
      </li>

      <li>
        Report suspected misuse to the JNET Security Administrator
        (ra-oajnetsecurity@pa.gov).
      </li>

      <li>
        Report any lost or stolen devices used to access JNET to the JNET
        Security Administrator (ra-oajnetsecurity@pa.gov).
      </li>

      <li>
        Cooperate with misuse investigators from investigators from any entity
        with appropriate jurisdiction, including: Your Agency; and JNET Data
        Provider; JNET Office; Pennsylvania State Police, Pennsylvania Office of
        Inspector General, Pennsylvania Office of Attorney General; and/or
        Federal Bureau of Investigation.
      </li>
    </ol>

    <p>
      <b><u>Policy Violations:</u></b>
    </p>

    <p>
      In addition to the other rights of JNET and its Data Providers, which
      shall not be diminished by the following, Your access to JNET may be
      suspended, revoked or terminated, immediately and without notice for:
    </p>

    <ul type="square">
      <li>Violating any portion of this Agreement.</li>
      <li>
        Violating any of JNET&rsquo;s or its Data Provider&rsquo;s policies.
      </li>
      <li>
        Failing to cooperate with investigators during a misuse investigation.
      </li>
      <li>Using JNET access for personal or non-Criminal Justice Purposes.</li>
    </ul>

    <p>
      <b>NOTE:</b> Policy violations may also result in JNET Data Provider
      administrative sanctions, criminal prosecution, and/or civil proceedings.
    </p>

    <p>
      No delay or failure on the part of the Commonwealth to exercise any right
      or power arising under this Agreement will act as a waiver of such right.
      If any of the provisions of this Agreement are held to be invalid, illegal
      or unenforceable by a court of competent jurisdiction, the validity,
      legality and enforceability of the other provisions shall not be affected
      or impaired.
    </p>

    <p>
      This Agreement supersedes all other agreements and understandings, both
      written and oral, between the parties with respect to the subject matter
      contained herein.
    </p>

    <p>
      This Agreement shall be interpreted in accordance with and governed by the
      laws of the Commonwealth of Pennsylvania, without giving effect to its
      conflicts of law provisions. The courts of the Commonwealth of
      Pennsylvania and the federal courts of the Middle District of Pennsylvania
      shall have exclusive jurisdiction over disputes under this Agreement and
      the resolution thereof. Any legal action relating to this Agreement must
      be brought in Dauphin County, Pennsylvania, and the parties agree that
      jurisdiction and venue in such courts is appropriate.
    </p>

    <p>
      By electronically acknowledging this Agreement, the User certifies that
      the User has read, understands, and agrees to abide by the requirements of
      this Agreement. This electronic acknowledgement, including the date and
      time this agreement was acknowledged, is recorded at the JNET offices.
    </p>
    version:05062019<br />
    formname:userAgreement
  </div>

  <div style="font-size:10.0pt; margin-left:25%;text-align:Right;width:750px;">
    Click here to download JNET user security Aggrementdocument.
  </div>
  <br />

  <div
    style="font-size:10.0pt; margin-left:25%; margin-right:10;overflow-y:auto;border:2px solid #a6a6a6;width:750px;   height: 150px;text-align:justify;"
    *ngIf="isagree"
  >
    <p>Thank you for signing the JNET Aggrement</p>
    <p style="color:red">
      Inorder to access privilages to be updated , you must close all open wen
      browsers and restart a new JNET session.
    </p>
  </div>

  <div
    style="font-size:10.0pt; margin-left:25%;text-align:left;"
    *ngIf="!isagree"
  >
    <button (click)="agree()">I Agree</button>
    <button (click)="doNotAgree()">I DO NOT Agree</button>
    <button (click)="cancel()">cancel</button>
  </div>
  <!--</textarea> -->
</div>
